* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    border-radius: 10px;
}

img {
    border-radius: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);


    /* background-color: aquamarine; */
    /* border: 1px solid black; */
}

.calculator {
    box-shadow: 0px 10px 15px black;
    background-color: rgb(51, 54, 56);
    padding: 0.5rem;
}

.input {
    box-shadow: 0px 10px 5px rgb(92, 92, 92);
    margin-bottom: 1rem;
}

#input {
    text-align: right;
    font-size: 1.9rem;
    width: 100%;
    height: 7rem;
    background-color: rgb(51, 54, 56);
    /* border: none; */
    outline: none;
}

.grid {
    /* height: 30rem;
    width: 25rem; */
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    row-gap: 0.25rem;
    column-gap: 0.1rem;
    justify-content: space-around;
}

.convert-fun {
    grid-column-start: 1;
    grid-column-end: 6;
    align-items: start;
}

.grid span {
    cursor: pointer;
}

.trigonometry {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.trigonometry-hover {
    display: none;
    position: absolute;
    top: 1.5rem;
    box-shadow: 0px 5px 15px black;
    background-color: rgb(51, 54, 56);
}


.trigonometry:hover .trigonometry-hover {
    display: grid;
    padding: 5px;
    /* justify-content: space-around; */
    row-gap: 0.25rem;
    column-gap: 0.2rem;
    grid-template-columns: auto auto auto;
    z-index: 1;
    background-color: rgb(51, 54, 56);
}

.trigonometry:hover #trigonometry>svg {
    transition: 0.5s;
    transform: rotate(180deg);
}

.function {
    position: relative;
    grid-column-start: 3;
    grid-column-end: 6;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.function-hover {
    display: none;
    position: absolute;
    top: 1.5rem;
    box-shadow: 0px 5px 15px black;
    background-color: rgb(51, 54, 56);
}

.function:hover .function-hover {
    display: grid;
    padding: 5px;
    /* justify-content: space-around; */
    row-gap: 0.25rem;
    column-gap: 0.2rem;
    grid-template-columns: auto auto auto;
    z-index: 1;
    background-color: rgb(51, 54, 56);
}

.function:hover #function>svg {
    transition: 0.5s;
    transform: rotate(180deg);
}


.hover-btn {
    height: 2.5rem;
    width: 3rem;
    cursor: pointer;
    background-color: rgb(51, 54, 56);
}

.grid span img {
    width: 1.25rem
}

.btn {
    cursor: pointer;
    font-size: 1.25rem;
    height: 4rem;
    width: 4.5rem;
    background-color: rgb(51, 54, 56);
}

.disable {
    opacity: 0.5;
    cursor: none;
}

.sign {
    font-size: 1.5rem;
    color: rgb(255, 123, 0);
}


#equal {
    color: white;
    background-color: rgb(255, 123, 0);
}


@media screen and (max-width:450px) {
    html {
        font-size: 14px;
    }
} 